#cs1300-gallery {
  background-color: lightblue;
}

/* Uncomment below if images are way too big.
Selects all image tags and makes them 500px;
 */
/*img {*/
/*  width: 500px;*/
/*}*/

.parent-container{
  display: flex;
  margin: 1rem; 
  

}
.child-container > img{
  width: 50%;
  margin-bottom: 2rem;
  border-radius: 2vw;
  
}
.child-container > img:hover{
  transform: scale(1.05);

}


/* .row{
  justify-items:center;
  flex-direction: row;

  
} */
h1{
  text-align: center;
}
p{
  text-align: center;
  margin-bottom: 2vw;
}
.button{
  justify-items: center;

}

